[pylint]
disable=
    attribute-defined-outside-init,
    bad-continuation,
    bad-option-value,
    bare-except,
    blacklisted-name,
    broad-except,
    catching-non-exception,
    consider-using-f-string,
    duplicate-code,
    invalid-name,
    keyword-arg-before-vararg,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-break,
    no-else-raise,
    no-else-return,
    no-member,
    no-self-use,
    not-an-iterable,
    pointless-string-statement,
    raise-missing-from,
    reimported,
    simplifiable-if-statement,
    super-init-not-called,
    superfluous-parens,
    syntax-error,
    too-few-public-methods,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    unidiomatic-typecheck,
    unspecified-encoding,
    unused-argument,
    unused-import,
    unused-variable,
    unused-wildcard-import,
    useless-object-inheritance,
    wildcard-import,
    wrong-import-position,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
